body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

.header {
    background-color: #283547;
    height: 75px;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
}

.header-push-links {
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 25px;
}

a {
    text-decoration: none;
    color: white;
}

.header img {
    height: 65px;
    padding: 5px 15px;

}

.hero {
    display: flex;
    background-color: #283547;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
}

.hero-img img {
    max-width: 400px;
    max-height: 100%;
    border-radius: 65px;
    border: 2px solid silver;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-width: 325px;
}

.hero-header,
.hero-body {
    flex: 1 0 auto;
}

.hero-header {
    font-size: 32px;
    font-weight: bold;
    color: #F9FAF8;
    text-align: center;
}

.hero-body {
    font-size: 18px;
    font-weight: 300;
    color: #F9FAF8;
    text-align: center;
}

button {
    flex: 1 0 1;
    border-radius: 28px;
    padding: 12px 28px;
    background-color: #31517e;
    border: 1px solid silver;
}

.info {
    margin: 75px 0px;
}

.info-panel img {
    border: 4px solid silver;
    border-radius: 15px;
    max-width: 180px;
    max-height: 200px;
}

.info-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px;
    font-weight: 600;
    font-size: 22px;
}

.info-text {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.subtext {
    max-width: 180px;
    gap: 12px;
    border: 4px solid transparent;
    margin: 15px 0px;
}

.quote-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 18px;
    padding: 150px;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    background-color: #283547;
    color: #F9FAF8;
}

.quote {
    align-self: center;
}

.call-to-action {
    margin: 50px 150px;
    padding: 18px;
    border-radius: 8px;
    background-color: #31517e;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.call-to-action button {
    border-radius: 12px;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #F9FAF8;
}

.cta-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #31517e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    height: 50px;
}